<%= form_with model: @task do |form| %>
    <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= task.errors.full_messages_for(:name).join(' ') if task.errors.present? %>
    </div>

    <div>
    <%= form.label :discription %><br>
    <%= form.text_field :discription %>
    </div>

    <div>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
    <%= task.errors.full_messages_for(:status).join(' ')  if task.errors.present? %>
    </div>

    <div>
    <%= form.label :creator %><br>
    <%= form.text_field :creator %>
    <%= task.errors.full_messages_for(:creator).join(' ')  if task.errors.present? %>
    </div>

    <div>
    <%= form.label :performer %><br>
    <%= form.text_field :performer %>
    </div>

    <div>
    <%= form.submit %><br>

    </div>
    <% end %>